html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

img {
  display: block;
  width: 100%;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

body {
  background: #EAFEFC;
  font-family: "Roboto", sans-serif;
  font-size: 2.0rem;
  line-height: 28px;
  letter-spacing: 1px;
}

i.fa-bars {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 4rem;
  visibility: hidden;
}

nav li span {
  border-bottom: 3px solid #FDD908;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 70px;
}

ul li {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  margin: 0 5px;
  font-family: "Roboto", sans-serif;
  color: #FFF;
  font-size: 2.0rem;
  font-weight: bold;
  line-height: 29px;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

ul li a:hover, ul li a:focus {
  color: #FDD908;
  font-weight: 400;
}

.homeHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("../images/home-header.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.homeHeader h1 {
  font-family: "IM Fell English", serif;
  font-weight: 400;
  color: #FDD908;
  font-size: 7.9rem;
  text-transform: uppercase;
  margin-top: 450px;
  max-width: 500px;
  line-height: 100px;
}

.imageContainer {
  position: relative;
}

.imageContainer img {
  position: absolute;
  right: 0;
  top: 380px;
  width: 800px;
}

.blogHeader {
  background: url("../images/blog-header.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.blogHeader h1 {
  font-family: "IM Fell English", serif;
  font-weight: 400;
  color: #FFF;
  font-size: 7.9rem;
  text-transform: uppercase;
  padding-top: 200px;
}

.contactHeader {
  background: url("../images/contact-header.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.contactHeader h1 {
  font-family: "IM Fell English", serif;
  font-weight: 400;
  color: #FFF;
  font-size: 7.9rem;
  text-transform: uppercase;
  padding-top: 200px;
}

main button {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 10px 15px;
  margin-top: 30px;
  font-family: "IM Fell English", serif;
  font-size: 2.24rem;
  line-height: 41.6px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  color: #0D457F;
  background-color: #FDD908;
}

main button:hover, main button:focus {
  background-color: #0D457F;
  color: #FFF;
  cursor: pointer;
}

.socialSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 225px 0 150px 0;
}

.socialSection div {
  max-width: 620px;
  position: relative;
  padding: 40px 0 40px 50px;
}

.socialSection div a {
  font-size: 3.0rem;
  color: #000;
  padding-top: 12px;
  position: absolute;
  left: -30px;
  top: 60px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #FDD908;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.socialSection div a:hover, .socialSection div a:focus {
  background-color: #0D457F;
  color: #FFF;
}

.socialSection div h2 {
  font-family: "IM Fell English", serif;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 99.8px;
  text-transform: uppercase;
  color: #0D457F;
}

.altColor {
  background-color: #0D457F;
}

.featureSection {
  display: -ms-grid;
  display: grid;
  height: 850px;
  color: #FFF;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 300px 300px;
      grid-template-rows: 300px 300px;
  grid-column-gap: 200px;
  grid-row-gap: 120px;
}

.featureSection .leftImage {
  max-width: 700px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  position: relative;
  top: -40px;
  -webkit-box-shadow: 25px 25px 0 0 #FDD908;
          box-shadow: 25px 25px 0 0 #FDD908;
}

.featureSection .programs {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  padding: 80px 65px 0 0;
}

.featureSection .programs h2 {
  font-family: "IM Fell English", serif;
  font-size: 4.0rem;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.featureSection .locations {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  padding: 80px 0 0 65px;
  text-align: right;
}

.featureSection .locations h2 {
  font-family: "IM Fell English", serif;
  font-size: 4.0rem;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.featureSection .rightImage {
  max-width: 700px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  position: relative;
  bottom: -80px;
  -webkit-box-shadow: -25px 25px 0 0 #FDD908;
          box-shadow: -25px 25px 0 0 #FDD908;
}

.featureSection button:hover, .featureSection button:focus {
  border: 2px solid #FDD908;
}

.vacationInfo {
  text-align: center;
  padding: 150px 0;
}

.vacationInfo h2 {
  font-family: "IM Fell English", serif;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 99.8px;
  text-transform: uppercase;
  color: #0D457F;
}

article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 400px;
      grid-template-rows: 400px;
  padding: 150px 0;
}

article img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  width: 350px;
  -webkit-box-shadow: -25px 25px 0 0 #FDD908;
          box-shadow: -25px 25px 0 0 #FDD908;
  margin-left: 40px;
}

article div {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  padding-left: 50px;
}

article div h2 {
  font-family: "IM Fell English", serif;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 99.8px;
  text-transform: uppercase;
  color: #0D457F;
}

.galleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 100px 0;
}

.galleryContainer img {
  padding: 15px;
}

.blogSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.blogSection .blog {
  border-bottom: 4px solid #FDD908;
  border-left: 4px solid #FDD908;
  padding: 0 0 140px 21px;
}

.blogSection .blog img {
  -webkit-box-shadow: -25px 25px 0 0 #FDD908;
          box-shadow: -25px 25px 0 0 #FDD908;
  width: 100%;
  position: relative;
  top: -250px;
}

.blogSection .blog h2 {
  font-family: "IM Fell English", serif;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 99.8px;
  text-transform: uppercase;
  color: #0D457F;
  margin-top: -180px;
  padding-left: 60px;
}

.blogSection .blog p {
  padding: 15px 0 15px 60px;
}

.commentSection {
  max-width: 750px;
  margin-top: 50px;
  float: right;
}

.commentSection h3 {
  font-family: "IM Fell English", serif;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 99.8px;
  text-transform: uppercase;
  color: #0D457F;
}

.commentSection img {
  width: 100px;
  float: left;
}

.commentSection .post {
  margin-bottom: 80px;
}

.commentSection .post span {
  color: #0D457F;
  font-weight: 700;
  font-size: 2.1rem;
  padding-bottom: 10px;
}

.commentSection .post p {
  padding-left: 150px;
}

aside img {
  width: 420px;
  margin-right: 150px;
  position: relative;
  bottom: -100px;
}

aside ul {
  display: block;
  padding: 0 20px;
}

aside ul li {
  list-style-type: disc;
  color: #FFF;
}

aside .statement {
  background-color: #0D457F;
  max-width: 375px;
  padding: 400px 10px 20px 40px;
  margin: -275px 0 0 70px;
}

aside .statement h4 {
  text-transform: uppercase;
  color: #FDD908;
  font-family: "IM Fell English", serif;
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 58px;
  letter-spacing: 0.8px;
}

aside .statement p {
  color: #FFF;
  padding-bottom: 40px;
}

.commentForm input[type=text],
.commentForm input[type=email] {
  border: none;
  border-bottom: 2px solid #FDD908;
  background-color: #EAFEFC;
  color: #000;
  padding: 20px;
  margin: 60px 20px 30px 20px;
  width: 330px;
}

.commentForm .messageBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.commentForm textarea {
  resize: none;
  display: block;
  border: 2px solid #FDD908;
  background-color: #EAFEFC;
  color: #000;
  padding: 20px;
  width: 95%;
  height: 250px;
  margin: 20px 0;
}

.commentForm input[type=submit] {
  padding: 10px 15px;
  margin-top: 30px;
  font-family: "IM Fell English", serif;
  font-size: 2.24rem;
  line-height: 41.6px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  color: #0D457F;
  background-color: #FDD908;
  color: #FDD908;
  background-color: #0D457F;
  margin: 30px 20px 100px 20px;
  width: 95%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.commentForm input[type=submit]:hover, .commentForm input[type=submit]:focus {
  color: #0D457F;
  background-color: #FDD908;
  cursor: pointer;
}

.commentForm ::-webkit-input-placeholder {
  color: #000;
  opacity: 0.9;
}

.commentForm :-ms-input-placeholder {
  color: #000;
  opacity: 0.9;
}

.commentForm ::-ms-input-placeholder {
  color: #000;
  opacity: 0.9;
}

.commentForm ::placeholder {
  color: #000;
  opacity: 0.9;
}

.contactBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 580px;
}

.socialContainer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 120px 0 20px 0;
}

.socialContainer nav li {
  list-style: none;
}

.socialContainer nav li a {
  color: #0D457F;
  font-size: 1.5rem;
  padding: 20px 20px 20px 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.socialContainer nav li a:hover, .socialContainer nav li a:focus {
  color: #FDD908;
}

.socialContainer p:nth-of-type(1) {
  margin-bottom: 30px;
}

.contactForm {
  background-color: #0D457F;
  text-align: center;
  width: 900px;
  position: relative;
  top: -150px;
  right: -100px;
  -webkit-box-shadow: 25px 25px 0 0 #FDD908;
          box-shadow: 25px 25px 0 0 #FDD908;
}

.contactForm input[type=text],
.contactForm input[type=email] {
  border: none;
  border-bottom: 2px solid #FDD908;
  background-color: #0D457F;
  color: #FFF;
  padding: 20px;
  margin: 60px 20px 30px 20px;
  width: 40%;
}

.messageBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

textarea {
  resize: none;
  display: block;
  border: 2px solid #FDD908;
  background-color: #0D457F;
  color: #FFF;
  padding: 20px;
  width: 85%;
  height: 250px;
  margin: 20px 0;
}

::-webkit-input-placeholder {
  color: #FFF;
}

:-ms-input-placeholder {
  color: #FFF;
}

::-ms-input-placeholder {
  color: #FFF;
}

::placeholder {
  color: #FFF;
}

input[type=submit] {
  padding: 10px 15px;
  margin-top: 30px;
  font-family: "IM Fell English", serif;
  font-size: 2.24rem;
  line-height: 41.6px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  color: #0D457F;
  background-color: #FDD908;
  margin-bottom: 120px;
  width: 85%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

input[type=submit]:hover, input[type=submit]:focus {
  color: #FDD908;
  background-color: #0D457F;
  border: 2px solid #FDD908;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 2px 0;
  background-color: #FDD908;
  clear: both;
}

footer p {
  margin: 0;
}

footer a {
  color: #000;
  text-decoration: none;
}

@media (max-width: 1356px) {
  .homeHeader h1 {
    margin-top: 120px;
  }
  .imageContainer img {
    top: 500px;
  }
  .socialSection {
    padding: 350px 40px 150px 40px;
  }
}

@media (max-width: 1250px) {
  .featureSection .locations {
    margin-top: -120px;
  }
}

@media (max-width: 1150px) {
  .featureSection {
    display: block;
    height: auto;
  }
  .featureSection .leftImage,
  .featureSection .rightImage {
    position: static;
    max-width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-top: 10px solid #FDD908;
    border-bottom: 10px solid #FDD908;
  }
  .featureSection .programs,
  .featureSection .locations {
    padding: 100px 60px;
    text-align: center;
    margin: 0;
  }
  article {
    display: block;
  }
  article img {
    width: 100%;
    margin: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 10px solid #FDD908;
  }
  article div {
    text-align: center;
    padding: 20px;
  }
}

@media (max-width: 800px) {
  .imageContainer img {
    width: 600px;
    top: 625px;
  }
}

@media (max-width: 620px) {
  .homeHeader h1 {
    font-size: 5.5rem;
    margin-top: 250px;
  }
  .imageContainer img {
    width: 400px;
    bottom: 0;
  }
  .socialSection {
    padding: 100px 50px;
  }
  .socialSection div h2 {
    font-size: 3rem;
    line-height: 50px;
  }
  .socialSection div a {
    top: 35px;
  }
  .bannerImage {
    overflow: hidden;
  }
  .bannerImage img {
    width: 200%;
  }
  .galleryContainer img:last-child {
    position: absolute;
    display: none;
  }
}

@media (max-width: 440px) {
  .homeHeader nav {
    display: none;
  }
  .homeHeader i.fa-bars {
    visibility: visible;
    color: #FFF;
  }
  .homeHeader h1 {
    font-size: 4rem;
    line-height: 50px;
    margin-top: 380px;
  }
  .imageContainer img {
    width: 320px;
    top: 700px;
  }
  .socialSection {
    text-align: center;
    padding: 120px 10px;
  }
  .socialSection div {
    padding: 20px;
  }
  .socialSection div a {
    position: static;
    display: inline-block;
    font-size: 5rem;
    height: 100px;
    width: 100px;
    padding-top: 25px;
    margin-bottom: 20px;
  }
  .featureSection .programs,
  .featureSection .locations {
    padding: 80px 10px;
  }
  .featureSection .programs h2,
  .featureSection .locations h2 {
    padding-bottom: 30px;
  }
  .vacationInfo h2 {
    line-height: 50px;
    padding-bottom: 30px;
  }
  article div h2 {
    line-height: 52px;
    padding: 30px 0;
  }
}
